.thumbnail-component {
  background: var(--dark-bg);
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  width: 100%;
  border: none;
  cursor: pointer;
}

.thumbnail-component:focus {
  outline: none;
  border: solid #FFF 1px;
}

.thumbnail-component img {
  max-width: 150px;
  width: 100%;
  transition: transform 333ms cubic-bezier(.42,0,.58,1);
}

.thumbnail-component:hover img {
  transform: scale(1.2);
}

.thumbnail-component div.title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  background: rgba(255, 255, 255, 0.8);
  color: #000;
  border-radius: 0 0 14px 14px;
  text-align: center;
}
